* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: monospace, 'Courier New', Courier;
    list-style: none;
    text-decoration: none;

    --zb-white: #fff;
    --zb-dark: #222222;
    --zb-green: #3dfdba;
    --zb-green-op: #3dfdbae9;
    --zb-blue: #3d9ffd;
    --zb-purple: #b43dfd;
    --zb-orange: #ff7847;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, var(--zb-dark) 0%, var(--zb-green) 100%);
}

.green-font {
    color: var(--zb-green);
}

.blue-font {
    color: var(--zb-blue);
}

.light-font {
    color: var(--zb-white);
}

.dark-font {
    color: var(--zb-dark);
}

.smaller-font {
    font-size: 1em;
}

.small-font {
    font-size: 1.2em;
}

.middle-font {
    font-size: 1.5em;
}

.bigger-font {
    font-size: 2.2em;
}

.big-font {
    font-size: 3em;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.flex {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.link {
    color: var(--zb-green);
    text-decoration: underline;
}

#header {
    height: 5em;
    padding: 1em;
}

#header .nav {
    height: 100%;
}

#header .nav ul {
    height: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    opacity: 1;
}

#header .nav ul a {
    position: relative;
    opacity: 1;
    transition: opacity 0.2s ease;
}

#header .nav ul:hover a {
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

#header .nav ul:hover a:hover {
    opacity: 1;
}

/* Die animierte Linie */
#header .nav ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--zb-blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

/* Linie wird eingeblendet */
#header .nav ul a:hover::after {
    transform: scaleX(1);
}

@media (orientation: portrait) {
    #header {
        height: auto;
    }

    #header .nav ul {
        flex-direction: column;
    }
}

#header .tetris {
    cursor: url(tetris.cur), pointer;
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}


#footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    font-size: 1.5em;
}


#greeting .container {
    margin: auto;
    padding: 2em;
    max-width: 30em;
    border-left: solid 5px var(--zb-green);
    text-align: left;
}

#greeting .container .valentin {
    padding-left: 1em;
}

#greeting .container .dot {
    position: relative;
    top: -4.5em;
    left: -3.5em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    border: solid 5px var(--zb-green);
    box-shadow: 0px 0px 50px var(--zb-green);
    animation: pulse-green 3s infinite ease-in-out;
}

@keyframes pulse-green {
    50% {
        box-shadow: 0px 0px 20px var(--zb-green);
    }
}


#greeting .container p {
    margin-top: 1em;
}

#greeting .container .typing {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid var(--zb-white);
    animation: typing 1.7s steps(20, end) forwards, blink 0.7s infinite;
    max-width: fit-content;
}

/* Typewriter-Animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 13em;
    }
}

/* Cursor-Blinken */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#greeting .container .text-marker{
    position:relative;
    display: inline;
}

#greeting .container .text-marker:before{
    content:"";
    background-color:var(--zb-blue);
    width:-2;
    opacity: 0;
    height:1em;
    position:absolute;
    z-index:-1;
    filter:url(#marker-shape);
    left:-0.25em;
    top:0.1em;
    padding:0 0.25em;
    animation: text-marking 0.8s ease-out forwards;
    animation-delay: var(--delay, 0s);
}


@keyframes text-marking {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 0.8;
    }
}

#greeting .greeting-fade {
    border-left: solid 5px var(--zb-green);
    padding-bottom: 2em;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}




#projects {
    /*=================*/
}

#projects .current {
    text-align: center;
}

#projects .current .header {
    background-color: var(--zb-dark);
    justify-content: center;
    padding: 1em;
    box-shadow: 0 0 40px var(--zb-dark);
}

#projects .current .header .livedot {
    height: 2em;
    width: 2em;
    background-color: red;
    border-radius: 100%;
    margin-right: 2em;
    box-shadow: 0px 0px 45px red;
    animation: pulse-red 1.5s infinite ease-in-out;
}

@keyframes pulse-red {
    50% {
        box-shadow: 0px 0px 10px red;
    }
}

#projects .current .project {
    background-color: var(--zb-dark);
    width: 100%;
    padding: 1em 0;
    box-shadow: 0 0 40px var(--zb-dark);
}

#projects .current .project .head {
    width: 30%;
}

#projects .current .project .head .icon {
    height: 8em;
}

#projects .current .project .nothead {
    width: 60%;
}

#projects .current .project p {
    padding: 1em;
}

#projects .curret a {
    color: var(--zb-green);
    text-decoration: underline;
}

#projects .current .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

#projects .current .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@media (orientation: portrait) {
    #projects .current .project {
        flex-direction: column;
    }

    #projects .current .project .head {
        width: auto;
    }

    #projects .current .project .nothead {
        width: auto;
    }

    #projects .current .project .time {
        text-align: center;
    }
}

#skills {
    padding: 8em 0;
    width: 100%;
}

#skills .skillset {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#skills .skillset .show {
    animation: skillShowcase 2s ease-in-out forwards;
}

@keyframes skillShowcase {
    0% {
        opacity: 0;
    }

    

    from {
        box-shadow: -50px 20px 30px var(--zb-dark);
    }

    to {
        box-shadow: 20px 20px 30px var(--zb-dark);
    }
    

    100% {
        box-shadow: 20px 20px 30px var(--zb-dark);
        opacity: 1;
    }
}

#skills .skillset .skill {
    opacity: 0;
    height: 12em;
    min-width: 10em;
    border-radius: 2em;
    background-color: var(--zb-dark);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#skills .skillset .skill .skillicon {
    position: absolute;
    height: 10em;
    width: 10em;
    padding: 1em;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    pointer-events: none;
}

#skills .skillset .skill:hover {
    cursor: pointer;
}

#skills .skillset .skill .skillicon svg{
    height: 100%;
    width: 100%;
}

#skills .skillset .skill:hover .skillicon{
    opacity: 0;
    filter: blur(10px);
}

#skills .skillset .skill .skilldescr{
    opacity: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    transition: opacity 0.3s ease-in-out;
}

#skills .skillset .skill:hover .skilldescr{
    opacity: 1;
}

#skill .skillset .skill .skilldescr .skillname {
    color: var(--zb-green);
}